{{ name1 }}
<div class="container">
  <div class="row">
    <div class="col md-4">
      <small class="text-danger">practicing some exercise</small>
    </div>
  </div>
  <hr />
  <form [formGroup]="reactiveForm" (ngSubmit)="onAdd()">
    <div formGroupName="userBasic">
    <div class="form-row">
    <div class="col">
      <label for="firstname">FirstName</label>
      <input type="text" class="form-control" placeholder="First name" formControlName="firstname"/>
      <small class="text-danger" *ngIf="!reactiveForm.get('userBasic.firstname').valid && reactiveForm.get('userBasic.firstname').touched">This field is mandatory</small>
    </div>
    <div class="col">
      <label for="lastname">LastName</label>
      <input type="text" class="form-control" placeholder="Last name" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="address">Address</label>
      <input type="text" class="form-control" placeholder="address" />
    </div>
  </div>
    </div>
    <div formGroupName="gender"> 
      <div class="form-group">
      <div class="custom-control custom-radio" *ngFor="let gender of genderList">
      <input type="radio" id="{{gender.id}}" formControlName="male" value="{{gender.gName}}" class="custom-control-input">
      <label for="{{gender.id}}" class="custom-control-label">
        {{gender.gName}}</label> 
      </div>
      </div>
</div>
    
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select class="form-control" formControlName="state">
          <option selected disabled>choose a states</option>
          <option *ngFor="let state of states" value="{{state.sname}}">
            {{ state.sname }}
          </option>
        </select>
      </div>
    </div>
    <button class="btn btn-success" (click)="onAdd()">Add</button>
  </form>
</div>
<hr color="red">
<h4>List Table</h4>
<div class="container">
<div class="row">
  <table class="table table-condensed" border="2"> 
  <thead>
    <tr>
    <th>S.N</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Address</th>
    <th>Gender</th>
    <th>State</th>
    <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>1</td>
    </tr>
  </tbody>
  </table>
</div>
</div>
